<div class="active treeview" > <a href="">
  <!-- <li class="active treeview"> -->
  <i [ngClass]="classes"></i> <span>{{menuItem.title}}</span>
  <!-- <span class="pull-right-container">
    <i class="fa fa-angle-left pull-right"></i>
  </span> -->
</a>
</div>