<div>
    <div class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/images/skyscraper-movie-designer-concept-architecture_dezeen_2364_hero-852x479.jpg);">
              <span class="login100-form-title-1">
                Sign In
              </span>
            </div>
      
            <form class="login100-form validate-form" [formGroup]="loginForm" >
              <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100">Username</span>
                <input class="input100" type="text" formControlName="username" name="username" placeholder="Enter username">
                
                <span class="focus-input100"></span>
              </div>
              <div *ngIf="submitted && loginForm.controls.username.errors">
                <div *ngIf="loginForm.controls.username.errors.required">Username can't be empty</div>
              </div>
              <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                <span class="label-input100">Password</span>
                <input class="input100" type="password" formControlName="password" name="pass" placeholder="Enter password">
                
                <span class="focus-input100"></span>
              </div>
              <div *ngIf="submitted && loginForm.controls.password.errors">
                <div *ngIf="loginForm.controls.password.errors.required">Password can't be empty</div>
              </div>
              <div class="flex-sb-m w-full p-b-30">
                <!-- <div class="contact100-form-checkbox">
                  <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                  <label class="label-checkbox100" for="ckb1">
                    Remember me
                  </label>
                </div> -->
      <div></div>
                <div>
                  <a href="#" class="txt1">
                    Forgot Password?
                  </a>
                </div>
              </div>
      
              <div class="container-login100-form-btn">
                <!-- <input type="submit" class = "login100-form-btn"> -->
                <button class="login100-form-btn" (click)="sendLogin()">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

