<span [class]="myClass">
  <span class="wrapper">
      <header class="main-header">
          <!-- Logo -->
          <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>CMS</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>IIST</b><sup>CMS</sup></span>
          </a>
          <!-- Header Navbar: style can be found in header.less -->
          <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a (click)="toggleSidebar()" class="sidebar-toggle" data-toggle="push-menu" role="button">
              <span class="sr-only">Toggle navigation</span>
            </a>
    
            <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                  <a (click)="showMenu()" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/adminLTE/dist/img/user1-128x128.jpg" class="user-image" alt="User Image">
                    <span class="hidden-xs">Headache</span>
                  </a>
                  <ng-container *ngIf="show">
                    <ul class="dropdown-menu">
                      <!-- User image -->
                      <li class="user-header">
                        <img src="assets/adminLTE/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image">
    
                        <p>
                          Headache - Web Developer
                          <small>Things was not easy</small>
                        </p>
                      </li>
                      <!-- Menu Body -->
                      <li class="user-body">
                        <div class="row">
                          <div class="col-xs-4 text-center">
                            <a href="cms">Followers</a>
                          </div>
                          <div class="col-xs-4 text-center">
                            <a href="cms">Sales</a>
                          </div>
                          <div class="col-xs-4 text-center">
                            <a href="cms">Friends</a>
                          </div>
                        </div>
                        <!-- /.row -->
                      </li>
                      <!-- Menu Footer-->
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="cms" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                          <a href="cms" (click)="signOut()" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                      </li>
                    </ul>
                  </ng-container>
                </li>
              </ul>
            </div>
          </nav>
        </header>
    <app-sidebar></app-sidebar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </span>
</span>