<div class="content">
    <section class="content-header">
      <h1>
          {{title}}
        <!-- <small>Preview</small> -->
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol> -->
    </section>
    <section class="content">
      <div class="box box-primary">
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="form-group input-group" *ngFor="let item of inputList">
              <label for="exampleInputEmail1">{{item.Label}}</label>
              <input type="{{item.Type}}" class="{{item.Class}} inputBorder" id="exampleInputEmail1" placeholder="{{item.PlaceHolder}}">
              <!-- <input type="{{item.Type}}" class="{{item.Class}} inputBorder" data-inputmask="'alias': 'dd/mm/yyyy'"  data-mask> -->
            </div>
          </div>
          <!-- /.box-body -->
  
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </section>
  </div>