<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/adminLTE/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Headache</p>
          <a (click)="showRoles()"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Main Menu </li>
        <!-- Account Manager -->
       
      <li class="active treeview" *ngFor="let menuItem of menuList" >
        <a (click)="openTreeview()">
          <i [class]="setClasses(menuItem.class)"></i> <span>{{menuItem.title}}</span>
          
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <!-- <li *ngFor="let childItem of menuItem.filter(menuItem)" [class]="setClasses(childItem.class)"></li> -->
          <li *ngFor="let item of menuItem.child" ><a (click)="navigateTo(item.href)"><i [class]="setClasses(item.class)"></i> {{item.title}}</a></li>
          <!-- <li><a href="index2.html"><i class="fa fa-circle-o"></i> Roles</a></li> -->
        </ul>
      </li>
      <!-- <app-sidebar-item *ngFor="let menuItem of menuList" [menuItem]="menuItem"></app-sidebar-item> -->
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>