<div>
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <div>
    <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <!-- <div class="navbar-brand col-sm-3" > -->
        <img href="#" src="../../assets/images/iist-icon.png" class="navbar-brand" alt="">
        <!-- </div> -->
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li class="dropdown"><a href="#search" data-toggle="dropdown">Home</a>
              <!-- <ul class="dropdown-menu">
                  <li><a href="index_mp_fullscreen_video_background.html">Default</a></li>
                  <li><a href="index_op_fullscreen_gradient_overlay.html">One Page</a></li>
                  <li><a href="index_agency.html">Agency</a></li>
                  <li><a href="index_portfolio.html">Portfolio</a></li>
                  <li><a href="index_restaurant.html">Restaurant</a></li>
                  <li><a href="index_finance.html">Finance</a></li>
                  <li><a href="index_landing.html">Landing Page</a></li>
                  <li><a href="index_photography.html">Photography</a></li>
                  <li><a href="index_shop.html">Shop</a></li>
                </ul> -->
            </li>

            <li class="dropdown"><a (click)="navigateCMS()" data-toggle="dropdown">CMS</a></li>
            <!-- <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Product</a>
                  <ul class="dropdown-menu">
                    <li><a href="shop_product_col_3.html">3 columns</a></li>
                    <li><a href="shop_product_col_4.html">4 columns</a></li>
                  </ul>
                </li>
                <li><a href="shop_single_product.html">Single Product</a></li>
                <li><a href="shop_checkout.html">Checkout</a></li>
              </ul>
            </li> -->

          </ul>
        </div>
      </div>
    </nav>
    <section class="home-section home-full-height bg-dark-30" id="home">
      <div class="titan-caption">
        <div class="caption-content">
          <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
          <div class="font-alt mb-40 titan-title-size-4">IIST Human Resources Management</div>


          <!-- Search Area -->
          <div class="col-lg-1 col-centered">

            <input class="form-control form-control-sm search-box input-xlg" type="text" placeholder="Search">
            <button class="form-control-sm search-box input-sm" (click)="Search(searchList)"></button>


          </div>
          <ng-container *ngIf="searchList">
              <section class="module" id="searchList">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Tên</th>
                              <th>Năm sinh</th>
                              <th>Tuổi</th>
                              <th>Chức vụ</th>
                              <th>Số điện thoại</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let row of rowList">
                              <td>{{row.Name}}</td>
                              <td>{{row.DOB}}</td>
                              <td>{{row.Age}}</td>
                              <td>{{row.Position}}</td>
                              <td>{{row.PhoneNumber}}</td>
                            </tr>
                            <!-- <app-search-row *ngFor="let row of rowList" [row]="row"></app-search-row> -->
                          </tbody>
                          <!-- <tfoot>
                          <tr>
                              <th>Tên</th>
                              <th>Năm sinh</th>
                              <th>Tuổi</th>
                              <th>Chức vụ</th>
                              <th>Số điện thoại</th>
                          </tr>
                        </tfoot> -->
                        </table>
                      </div>
      
      
                      <!-- /.box-header -->
      
                      <!-- /.box-body -->
      
                      <!-- /.box -->
      
                      <!-- /.box -->
                    </div>
      
      
                  </div>
                </div>
              </section>
            </ng-container>
          <!-- <ng-container> -->

          <!-- </ng-container> -->

        </div>

      </div>

    </section>

    <div class="main">

      <div class="module-small bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="widget">
                <h5 class="widget-title font-alt">About Us</h5>
                <p>IIST is a provider of strategic IT-services that enables dynamic enterprises to gain a competitive
                  advantage and take the winning position in the digital economy.</p>
                <p>We offer a range of professional skills and optimal choices and apply insight methods proven by our
                  experience for unique regional and local challenges in a variety of business segments wholly meeting
                  multiple requirements.</p>
                Fax: (84.24)-3358-5888
                <p>Email:<a href="#">info@iist.com.vn</a></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="widget">
                <h5 class="widget-title font-alt">Contact Us</h5>
                <ul class="widget-posts">
                  <p> <a class="fa fa-phone"><span style="padding-left:5px"></span></a> <span
                      style="padding-left:1em">(84.24)-3358-5888</span></p>
                  <p> <a class="fa fa-phone"><span style="padding-left:5px"></span></a> <span
                      style="padding-left:1em">(84.24)-3358-5888</span></p>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="divider-d">
      <footer class="footer bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="copyright font-alt">&copy; 2017&nbsp;<a href="index.html">TitaN</a>, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
              <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i
                    class="fa fa-skype"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
  </div>
</div>