<div class="content">
  <div class="container-contact100">
    <div class="wrap-contact100">
      <form class="contact100-form validate-form">
        <span class="contact100-form-title">
          Employee
        </span>

        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
          <span class="label-input100">First name</span>
          <input class="input100" type="text" name="email" placeholder="Enter Your First Name ">
        </div>

        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
          <span class="label-input100">Lastname</span>
          <input class="input100" type="text" name="phone" placeholder="Enter Your Last Name">
        </div>
        <div class="wrap-input100 validate-input bg1">
          <span class="label-input100">Date Of Birth</span>

          <!-- input100 ui-inputtext ui-corner-all ui-state-default ui-widget -->

          <input class="input100" type="text" name="phone" placeholder="Enter your Date Of Birth">
          <!-- <p-inputMask class="input100" styleClass="input100" ariaRequired  type="text" mask="99-99-9999" placeholder="dd-MM-yyyy"></p-inputMask> -->
        </div>

        <div class="wrap-input100 validate-input bg1">
          <span class="label-input100">Phone</span>
          <input class="input100 " type="text" name="phone" placeholder="Enter your Phone Number">
        </div>
        <div class="wrap-input100 validate-input bg1">
          <span class="label-input100">Address</span>
          <input class="input100" type="text" name="name" placeholder="Enter your Address">
        </div>
        <div class="wrap-input100 validate-input bg1">
          <span class="label-input100">Address</span>
          <input class="input100" type="text" name="name" placeholder="Enter your Address">
        </div>
        <!-- <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
      <span class="label-input100">Message</span>
      <textarea class="input100" name="message" placeholder="Your message here..."></textarea>
    </div> -->
        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn">
            <span>
              Submit
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>